.reviewBtn, .previewBtn{
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.expandedHeader{
  padding-bottom: 1em;
}
.navbar-form {
  width: 100%;
  padding: 10px;
}
.thumbnail {
  overflow: scroll;
  height: 90vh;
}
.seeMore {
  display: none;
}
.img-responsive {
  display: flex;
  justify-content: center;
  margin: auto;
}
#cover {
  display: inline-block;
  width: 30%;
  height: 50vh;
  margin: 10px;
}
.imgAndDesc {
  display: flex;
  justify-content: space-around;
}
#goodreads-widget {
font-family: georgia, serif;
display: inline-block;
padding: auto;
margin: auto;
margin-top: 0;
width:100%;
}
#goodreads-widget h1 {
font-weight:normal;
font-size: 16px;
border-bottom: 1px solid #BBB596;
margin-bottom: 0;
}
#goodreads-widget a {
text-decoration: none;
color:#660;
}
iframe{
background-color: #fff;
}
#goodreads-widget a:hover { text-decoration: underline; }
#goodreads-widget a:active {
color:#660;
}
#gr_footer {
width: 100%;
border-top: 1px solid #BBB596;
text-align: right;
}
#goodreads-widget .gr_branding{
color: #382110;
font-size: 1em;
text-decoration: none;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
